Repository brianneisler/firemin: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:staged, npm run docs:generate, npm run prettier:staged

Release v0.2.2
  docs/API.md
  package-lock.json
  package.json
  scripts/js/docs-generate.js
  src/minimizer/minimizeAST.js
  src/minimizer/pipes/collapseSingleUseFunctions.js
  src/minimizer/pipes/removeUnusedFunctions.js
  tests/util/extensions/toEqualPrintDiff.js
  tests/util/extensions/toHaveReturnedFalsyForValues.js
  tests/util/extensions/toHaveReturnedTruthyForValues.js
  tests/util/extensions/toThrowMatchingObject.js
Due: npm run lint:staged, npm run docs:generate, npm run prettier:staged

Update release instructions. Add changelog.
  CHANGELOG.md
  RELEASE.md
Due: npm run prettier:staged

Update copyright
  COPYRIGHT
Due: none

Readd setupContext method for programmatic usage. Upgrade firetree. Add export folders to allow for importing of subfolders. Add stdout support as a method of returning minified code.
  .npmignore
  README.md
  bin/firemin-minimize
  context/index.js
  minimizer/index.js
  minimizer/pipes/index.js
  package-lock.json
  package.json
  src/context/index.js
  src/context/setupContext.js
  src/index.js
  src/minimizer/minimize.js
  tests/integration.test.js
  utils/index.js
Due: npm run lint:staged, npm run docs:generate, npm run prettier:staged

Update docs
  docs/API.md
Due: npm run prettier:staged

Add collapsing of small functions to help eliminate operation overhead and slight reduction in code size.
  README.md
  TODO.md
  package.json
  src/minimizer/minimizeAST.js
  src/minimizer/minimizeAST.test.js
  src/minimizer/minimizeTokenList.js
  src/minimizer/pipes/collapseSmallFunctions.js
  src/minimizer/pipes/index.js
  src/minimizer/util/buildScopes.js
  src/minimizer/util/collapseFunctionDeclaration.js
  src/minimizer/util/countAllFunctionDeclarationNodes.js
  src/minimizer/util/countFunctionDeclarationNodes.js
  src/minimizer/util/findFunctionsWithMaxNodeCount.js
  src/minimizer/util/getCallExpressionByNameInScope.js
  src/minimizer/util/getCallExpressionsByNameInScope.js
  src/minimizer/util/index.js
  tests/__snapshots__/litmus.test.js.snap
  tests/files/firestore.single-use-functions.rules
  tests/files/firestore.small-functions.rules
  tests/integration.test.js
Due: npm run lint:staged, npm run docs:generate, npm run prettier:staged

prettify md, yml and json files. Add nvm-guard. Fix error in integration test. Pretty docs.md after generating it.
  .codecov.yml
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/workflows/codeql-analysis.yml
  .travis.yml
  .vscode/launch.json
  CODE_OF_CONDUCT.md
  DEVELOPMENT.md
  NOTES.md
  package-lock.json
  package.json
  scripts/docs-generate.sh
  tests/integration.test.js
Due: npm run lint:staged, npm run docs:generate, npm run prettier:staged

Fix binary test on windows
  tests/integration.test.js
Due: npm run lint:staged, npm run docs:generate

Attempt to fix windows again
  tests/integration.test.js
Due: npm run lint:staged, npm run docs:generate

Try again to fix windows
  tests/integration.test.js
Due: npm run lint:staged, npm run docs:generate

Another attempt at fixing windows script test
  tests/integration.test.js
Due: npm run lint:staged, npm run docs:generate

Try adding quotes to fix windows
  tests/integration.test.js
Due: npm run lint:staged, npm run docs:generate

only wrap quotes around script path
  tests/integration.test.js
Due: npm run lint:staged, npm run docs:generate

Try switching to child_process fork to fix windows script test
  tests/integration.test.js
Due: npm run lint:staged, npm run docs:generate

Release v0.3.0
  RELEASE.md
  docs/API.md
  package-lock.json
  package.json
Due: npm run prettier:staged

Update changelog
  CHANGELOG.md
  RELEASE.md
Due: npm run prettier:staged

Upgrade all dependencies to latest versions. Update npm token in travis file
  .travis.yml
  package-lock.json
  package.json
Due: npm run prettier:staged

Release v0.3.1
  CHANGELOG.md
  RELEASE.md
  docs/API.md
  package-lock.json
  package.json
Due: npm run prettier:staged

Path conditions:
  npm run lint:staged: any of: *.{js,jsx,ts,tsx}
  npm run docs:generate: any of: *.{js,jsx,ts,tsx}
  npm run prettier:staged: any of: *.{json,css,md}
